@import  '../css_config/views';


/** loading label **/
$loading-label-fg : #eeeeee;

.lazy-loading {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    background-color: transparent;
}

.lazy-loading > .blur-bg , .blur-fg {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blur-bg {
    @supports (filter: blur(4px)) {
        filter: blur(4px);
    }
}

.blur-fg {
    @supports (backdrop-filter: blur(10px)) {
        backdrop-filter: blur(10px);
    }
    @supports not (backdrop-filter: blur(10px)) {
        background-color: rgba(0,0,0,0.5);
    }
}


.blur-fg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blur-fg > .loading-icon {
    margin: 7.5px 0;
    width: 10%;
    @include on_Medium_Dev {
        width: 30%;
    }
}

.blur-fg > .loading-label {
    margin: 7.5px 0;
    font-size: 16px;
    color: $loading-label-fg;
    @include on_Medium_Dev {
        font-size: 18px;
    }
}


@keyframes unblur-bg {
    0% , 25% {
        filter: blur(4px);
    }
    25% , 50% {
        filter: blur(3px);
    }
    50% , 75% {
        filter: blur(2px);
    }
    75% , 100% {
        filter: blur(1px);
    }
    100% {
        filter: blur(0px);
    }
}

