
@import '../../css_config/views';
@import '../../css_config/config';

// colors
$primary   : #15191C;
$secondary : #22252F;

/** app bar **/
$app-bar-mobile-fg: #ffffff;

// for loading background color
$loading-background          : #0e0d0d;

/** active tab link (mobile) **/
$active-link-fg : #894aff;
$non-active-link-fg : #b6b6b6;
$non-active-link-mobile-fg : rgb(219, 206, 206);
$link-hover-fg : #ffffff;

/** exit btn **/ 

$exit-btn-fg : #b6b6b6;
$exit-btn-hover-fg : #ffffff;


.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 48px;
    height: 100vh;
    min-height: 768px;
    background-color: $secondary;
    z-index: 10000;
    // box-shadow: 3px 0px 6px -2px rgba($color: #000000, $alpha: 0.4);
    @include on_Medium_Dev {
        width: 100%;
        height: auto;
        min-height: 56px;
        background-color: $primary;
        box-shadow: 0px 3px 6px -2px rgba($color: #000000, $alpha: 0.4);
    }
}


.sidebar > .appbar {
    display: none;
    @include on_Medium_Dev {
        display: block;
        width: 100%;
        height: 56px;
        text-align: center;
        background-color: $primary;
    }
}

.appbar > .appbar-title {
    display: none;
    @include on_Medium_Dev {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-weight: bold;
        color: $app-bar-mobile-fg;
    }
}


.sidebar > .user-icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    // background-color: yellow;
    @include on_Medium_Dev {
        display: none;
    }
}

.user-icon > .round-icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    height: 70%;
    border-radius: 360px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    box-shadow: 0px 3px 4px -2px rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
    overflow: hidden;
   
}

@keyframes to-left {
    0%  {
        width: 0%;
    }

    25% , 50% {
        width: 50%;
    }
    50% , 75%{
        width: 75%;
    }
    75% , 100% {
        width: 100%;
    }
}



// FIXME: watchout!!!
.loading {
    background: $loading-background; // FIXME: remove this
    &::after {
        content: ' ';
        display: block;
        position: absolute;
        inset: 0;
        height: 100%;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
        animation: to-left 0.8s ease-in;
        animation-iteration-count: infinite;
    }
}


.sidebar > .tab-switch {
    display: block;
    width: 100%;
    height: calc(100% - 96px);
    @include on_Medium_Dev {
        width: 100%;
        height: 40px;
        background-color: inherit;
    }
}

.tab-switch > .tab-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    @include on_Medium_Dev {
        all: initial;
        display: inline;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        overflow-x: auto;
    }
}

.tab-list > .tab {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    // background-color: yellow;
    @include on_Medium_Dev {
        display: inline-block;
        flex-wrap: initial;
        justify-content: initial;
        align-items: initial;
        width: auto;
        height: 100%;
        min-width: calc(100% / 4);
    }
}

.tab > .tool-tip {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.tool-tip > .link {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 48px;
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    color: $non-active-link-fg;
    border-left: 3px solid transparent;
    @include on_Medium_Dev {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        line-height: initial;
        color: $non-active-link-mobile-fg;
        border-left: initial;
        border-bottom: 3px solid transparent;
    }
}

.tool-tip > .active {
    color: $active-link-fg;
    border-left: 3px solid $active-link-fg;
    @include on_Medium_Dev {
        color: $active-link-fg;
        border-left: initial;
        border-bottom: 3px solid $active-link-fg;
    }
}

.link:hover {
    color: $link-hover-fg;
}



.sidebar > .exit-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    // background-color: yellow;
    @include on_Medium_Dev {
        display: none;
    }
}

.exit-container > .ext-tool-tip {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.ext-tool-tip > .exit-btn {
    display: block;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: $exit-btn-fg;
    font-size: 22px;
    background-color: transparent;
    cursor: pointer;
}

.exit-btn:hover {
    color: $exit-btn-hover-fg;
}


.safe-area {
    display: block;
    padding-left: 48px;
    width: 100%;
    height: 100%;
    @include on_Medium_Dev {
        padding-left: initial;
        padding-top: calc(56px + 40px);
    }
}

