@import '../../css_config/config';
@import '../../css_config/views';

// colors
$primary   : #15191C;
$secondary : #22252F;


// for account content background
// account bg
$account-bg : $primary;
// box shadow color (local)
$shadow-local-color          : #000000;
// for loading background color
$loading-background          : #0e0d0d;
// for edit pic btn passive bg
$edit-cover-picture-passive-btn-bg  : #ffffff;
// for edit pic btn active bg
$edit-cover-picture-active-btn-bg   : rgb(241, 241, 241);
// for display picture light bg
$display-picture-round-light : #F5F5FD;
// for edit display pic button bg
$edit-display-picture-btn-bg : #ffffff;
// for edit display pic active button bg
$edit-display-picture-btn-bg-active : rgb(241, 241, 241);
// for edit user name fg
$edit-user-name-fg : #eeeeee;
// for edit user name button
$edit-user-name-btn-bg     : #ffffff;
$edit-user-name-btn-active-bg     : rgb(241, 241, 241);


// for additional info fg 
$additional-info-title-fg : #927e26;
$additional-info-fg : #eeeeee;

// space title
$space-title-fg : #eeeeee;
$border-bottom-bg : #494949;
$space-title-ripple-bg : rgba(204, 198, 255, 0.2);

// for edit info btn
$edit-info-btn-bg : #8c98ff;
$edit-info-btn-fg : #eeeeee;

// for table header
$table-header-fg: #eeeeee;
$ripple-bg : rgba(204, 198, 255, 0.2);

// for empty table
$empty-table-icon-fg :#e89dff;
$empty-table-fg :#e89dff;

/** for table list **/
$row-data-fg : #927e26;
$row-btn-fg : #8f8f8f;
$row-btn-hover-fg : #ffffff;
$row-delete-btn-ripple-bg : rgba(0,0,0,0.2);


@keyframes ripple {
    0% {
        width: 0;
        height: 0;
    }
    15% , 25%{
        padding-top: 25%;
        width: 25%;
    }

    25% , 50% {
        padding-top: 50%;
        width: 50%;
    }
    50% , 75% {
        padding-top: 75%;
        width: 75%;
    }
    75% , 100%  {
        padding-top: 150%;
        width: 150%;
    }
}

.account-content-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: $account-bg;
}

.account-content-wrapper > .account-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    // background-color: green;
}

// TODO: coverphoto must be reusable and changeable
// JS set
.account-content > .cover-photo {
    display: block;
    position: relative;
    padding-top: 20%;
    width: 66.5%;
    border-radius: 0 0 10px 10px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    box-shadow: 0px 4px 8px -4px rgba($shadow-local-color, $alpha: 0.2);
    overflow: hidden;
    @include on_Medium_Dev {
        padding-top: 50%;
        width: 85%;
    }
}

.cover-photo > .edit-cover-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 5px 15px;
    // width: 140px; // FIXME: watchout !!! may cause error
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: $edit-cover-picture-passive-btn-bg;
    box-shadow: 0px 4px 6px -3px rgba($shadow-local-color, $alpha: 0.2);
    z-index: 2;
    &:active {
        padding: 5px 10px;
        right: 20px;
        background-color: $edit-cover-picture-active-btn-bg;
        box-shadow: 0px 6px 8px -4px rgba($shadow-local-color , $alpha: 0.2);
    }
    @include on_Medium_Dev {
        padding: 5px !important;
        &:active {
            right: 15px;
            background-color: $edit-cover-picture-active-btn-bg;
        }
    }
    
}

.edit-cover-btn > .edit-cover-icon {
     // display: block; // FIXME: watchout !!!
    margin: 0 2.5px;
    font-size: 20px;
    color: $font-color;
    @include on_Medium_Dev {
        font-size: 25px;
    }
}

.edit-cover-btn > .edit-cover-label {
    // display: block; // FIXME: watchout !!!
    margin: 0 2.5px;
    font-size: 15px;
    font-weight: bold;
    @include on_Medium_Dev {
        display: none;
    }
}

.account-content > .display-picture-wrapper {
    display: block;
    position: relative;
    margin-left: -46.5%;
    margin-top: -75px;
    width: 150px;
    height: 150px;
    z-index: 1;
    background-color: $display-picture-round-light;
    border-radius: 360px;
    padding: 5px;
    @include on_Medium_Dev {
        margin-left: initial;
    }
}

// TODO: display picture must be reusable and changeable
// JS set
.display-picture-wrapper > .display-picture {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 360px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden;
}

.display-picture-wrapper > .edit-display-picture-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: $edit-display-picture-btn-bg;
    outline: none;
    border: none;
    box-shadow: 0px 6px 8px -4px rgba($shadow-local-color , $alpha: 0.2);
    color: $font-color;
    &:active {
        background-color: $edit-display-picture-btn-bg-active;
        box-shadow: 0px 6px 8px -4px rgba($shadow-local-color, $alpha: 0.2);
    }
}

@keyframes to-left {
    0%  {
        width: 0%;
    }

    25% , 50% {
        width: 50%;
    }
    50% , 75%{
        width: 75%;
    }
    75% , 100% {
        width: 100%;
    }
}


// FIXME: watchout!!!
.loading {
    background: $loading-background; // FIXME: remove this
    &::after {
        content: ' ';
        display: block;
        position: absolute;
        inset: 0;
        height: 100%;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
        animation: to-left 0.8s ease-in;
        animation-iteration-count: infinite;
    }
}

.account-content > .name-label-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: -60px;
    width: 33.25%;
    height: auto;
    // background-color: green;
    padding: 10px 0;
    z-index: 2;
    @include on_Medium_Dev {
        margin-top: initial;
        width: 100%;
        min-height: 100px;
        flex-direction: column;
        justify-content: space-evenly;
        padding: initial;
    }
}

.name-label-wrapper > .nlw-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: inherit;
    // background-color: yellow;
    @include on_Medium_Dev {
        justify-content: center;
        width: 100%;
    }
}

.nlw-div > .user-name {
    display: block;
    width: 100%;
    height: inherit;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
    height: auto;
    padding-left: 15px;
    // background-color: green;
    color: $edit-user-name-fg;
    @include on_Medium_Dev {
        padding-left: initial;
        text-align: center;
        max-width: 85%;
    }
}

.nlw-div > .edit-user-name-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    margin: auto;
    // width: 150px; // FIXME: watchout !!! for fire-fox compat
    height: 25px;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 4px 8px -4px rgba($shadow-local-color, $alpha: 0.2);
    background-color: $edit-user-name-btn-bg;
   
    &:active {
        padding: 15px 10px;
        transition: box-shadow 0.1s ease-in;
        box-shadow: 0px 8px 12px -6px rgba($shadow-local-color, $alpha: 0.2);
        background-color: $edit-user-name-btn-active-bg;
    }
    @include on_Medium_Dev {
        width: auto;
    }
}

.edit-user-name-btn > .edit-user-icon {
    margin: 0 2.5px;
    font-size: 20px;
}

.edit-user-name-btn > .edit-user-label {
    margin: 0 2.5px;
    font-size: 15px;
    font-weight: bold;
}

.account-content > .information-tab-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0 25px ;
    padding: 8px 5px;
    width: 66.5%;
    height: auto;
    // background-color: yellow;
    @include on_Medium_Dev {
        align-items: center;
        padding: initial;
        margin: 25px 0;
        width: 100%;

    }
}


.information-tab-wrapper > .space {
    display: block;
    // background-color: $secondary;
    @include on_Medium_Dev {
        margin: 7.5px 0;
        width: 85% !important;
        background-color: $secondary;
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0px 4px 8px -4px rgba($shadow-local-color, $alpha: 0.2);
    }
}

.space > .space-title {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    color: $space-title-fg;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid $border-bottom-bg;
    &.info-title {
        
        @include on_Medium_Dev {
            // background-color: green;
        }
    }
    &.activity-title {
        
        @include on_Medium_Dev {
            // background-color:yellow;
        }
    }
    &:hover {
        &::after {
            content: ' ';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 360px;
            background-color: $space-title-ripple-bg;
            animation: ripple 0.4s ease-in;
            animation-fill-mode: forwards;
        }
    }
    @include on_Medium_Dev {
        border-bottom: initial;
    }
}

.information-tab-wrapper > .info {
    width: 40%;
}

.info > .info-table {
    display: block;
    margin: 15px 0;
    padding: 5px;
    width: 100%;
    max-height: calc(55px * 5);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: $secondary;
    border-radius: 0.8em;
    box-shadow: 0px 6px 8px -6px rgba($shadow-local-color, $alpha: 0.2);
    @include on_Medium_Dev {
        margin: initial;
        padding: 10px 0;
        border-radius: initial;
        box-shadow: initial;
    }
}

.info-table > .info-table-row {
    display: block;
    margin: 5px 0;
    width: 100%;
    min-height: 45px;
    scroll-snap-align: center;
    // background-color: yellow;
    @include on_Medium_Dev {
        padding: 0 5px;
    }
}

.info-table-row > .row-title {
    display: block;
    width: 100%;
    padding: 0 4px;
    & > * {
        font-size: 14px;
        font-weight: bolder;
        color: $additional-info-title-fg;
    }
}

.info-table-row > .row-data-group {
    display: block;
    width: 100%;
    position: relative;
    padding: 0 15px;
}

.row-data-group > .value {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    font-size: 14px;
    color: $additional-info-fg;
}

.row-data-group > .edit-info-btn {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: $edit-info-btn-fg;
    background-color: $edit-info-btn-bg;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    box-shadow: 0px 3px 4px -1px rgba($shadow-local-color, $alpha: 0.2);
    &:active {
        box-shadow: 0px 6px 4px -2px rgba($shadow-local-color, $alpha: 0.2);
    }
}

.information-tab-wrapper > .activities {
    width: 60%;
}

.activities > .table-wrapper {
    display: block;
    margin: 15px 0;
    padding: 0 10px;
    width: 100%;
    // background-color: yellow;
    @include on_Medium_Dev {
        margin: initial;
        padding: initial;
    }
}

.table-wrapper > .table-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 45px;
    // background-color: blue;
    // border-radius: 0.8em 0.8em 0 0;
}

.table-header > .table-header-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    &.date-time {
        width: 30%;
        @include on_Medium_Dev {
            width: 40%;
        }
        // background-color: green;
    }
    &.description {
        width: 70%;
        @include on_Medium_Dev {
            width: 60%;
        }
        // background-color: blue;
    }
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    color: $table-header-fg;
}



.table-wrapper > .table-list {
    display: block;
    width: 100%;
    max-height: calc(45px * 8);
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    @include on_Medium_Dev {
        max-height: calc(45px * 5);
    }
}

.table-list > .activity-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(45px * 5);
    // background-color: blue;
}

.activity-empty > .empty-activity-icon {
    margin: 10px 0;
    font-size: 35px;
    color: $empty-table-icon-fg;
}

.activity-empty > .empty-activity-label {
    margin: 10px 0;
    font-size: 16px;
    color: $empty-table-fg;
}

.table-list > .table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    width: 100%;
}

.table-row > .table-row-data {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    color: $row-data-fg;
    font-size: 15px;
}

.table-row > .date-time-value {
    width: 30%;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    // background-color: green;
}


.table-row > .description-value {
    padding-right: 45px;
    justify-content: left;
    text-align: justify;
    width: 70%;
    word-wrap: break-word;
    white-space: normal;
    // background-color: yellow;
}

.table-row > .delete-activity {
    display: block;
    position: absolute;
    top: calc(25px - 17.5px); // (50px / 2) - (button_height / 2)
    right: 10px;
    width: 35px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 360px;
    color: $row-btn-fg;
    background-color: inherit;
    overflow: hidden;
    &:hover {
        &::after {
            content: ' ';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation: ripple 0.15s ease-in-out;
            animation-fill-mode: forwards;
            border-radius: 360px;
            background-color: $row-delete-btn-ripple-bg;
        }
    }
}