/*
    html ug body tag configuration file!!!!!
    AYAW E MODIFY!!!!!!!!!
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  font-family: 'Quicksand', sans-serif;
  color: #0e0d0d;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
    View Modes
    AYAW E MODIFY!!!!!!

*/
html {
  overflow: hidden;
  background-color: #ffffff;
  scrollbar-width: none;
}

html ::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 1366px;
  min-height: 768px;
  background-color: inherit;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  body {
    min-width: 280px;
    min-height: 568px;
  }
}

/*
    View Modes
    AYAW E MODIFY!!!!!!

*/
/** for table list **/
@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
  }
  15%, 25% {
    padding-top: 25%;
    width: 25%;
  }
  25%, 50% {
    padding-top: 50%;
    width: 50%;
  }
  50%, 75% {
    padding-top: 75%;
    width: 75%;
  }
  75%, 100% {
    padding-top: 150%;
    width: 150%;
  }
}
@keyframes ripple {
  0% {
    width: 0;
    height: 0;
  }
  15%, 25% {
    padding-top: 25%;
    width: 25%;
  }
  25%, 50% {
    padding-top: 50%;
    width: 50%;
  }
  50%, 75% {
    padding-top: 75%;
    width: 75%;
  }
  75%, 100% {
    padding-top: 150%;
    width: 150%;
  }
}

.account-content-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #15191C;
}

.account-content-wrapper > .account-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.account-content > .cover-photo {
  display: block;
  position: relative;
  padding-top: 20%;
  width: 66.5%;
  border-radius: 0 0 10px 10px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  -webkit-box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .account-content > .cover-photo {
    padding-top: 50%;
    width: 85%;
  }
}

.cover-photo > .edit-cover-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 5px;
  width: 140px;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.2);
  z-index: 2;
  /*
        Kung ang view is mobile
    */
}

.cover-photo > .edit-cover-btn:active {
  width: 130px;
  right: 20px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .cover-photo > .edit-cover-btn {
    width: auto;
  }
  .cover-photo > .edit-cover-btn:active {
    width: auto;
    right: 15px;
    background-color: #f1f1f1;
  }
}

.edit-cover-btn > .edit-cover-icon {
  display: block;
  font-size: 20px;
  color: #0e0d0d;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .edit-cover-btn > .edit-cover-icon {
    font-size: 25px;
  }
}

.edit-cover-btn > .edit-cover-label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .edit-cover-btn > .edit-cover-label {
    display: none;
  }
}

.account-content > .display-picture-wrapper {
  display: block;
  position: relative;
  margin-left: -46.5%;
  margin-top: -75px;
  width: 150px;
  height: 150px;
  z-index: 1;
  background-color: #F5F5FD;
  border-radius: 360px;
  padding: 5px;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .account-content > .display-picture-wrapper {
    margin-left: initial;
  }
}

.display-picture-wrapper > .display-picture {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 360px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden;
}

.display-picture-wrapper > .edit-display-picture-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #ffffff;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.2);
  color: #0e0d0d;
}

.display-picture-wrapper > .edit-display-picture-btn:active {
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes to-left {
  0% {
    width: 0%;
  }
  25%, 50% {
    width: 50%;
  }
  50%, 75% {
    width: 75%;
  }
  75%, 100% {
    width: 100%;
  }
}

@keyframes to-left {
  0% {
    width: 0%;
  }
  25%, 50% {
    width: 50%;
  }
  50%, 75% {
    width: 75%;
  }
  75%, 100% {
    width: 100%;
  }
}

.loading {
  background: #0e0d0d;
}

.loading::after {
  content: ' ';
  display: block;
  position: absolute;
  inset: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-animation: to-left 0.8s ease-in;
          animation: to-left 0.8s ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.account-content > .name-label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -60px;
  width: 33.25%;
  height: auto;
  padding: 10px 0;
  z-index: 2;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .account-content > .name-label-wrapper {
    margin-top: initial;
    width: 100%;
    min-height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: initial;
  }
}

.name-label-wrapper > .nlw-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: inherit;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .name-label-wrapper > .nlw-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.nlw-div > .user-name {
  display: block;
  width: 100%;
  height: inherit;
  font-size: 20px;
  font-weight: bold;
  word-wrap: break-word;
  height: auto;
  padding-left: 15px;
  color: #eeeeee;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .nlw-div > .user-name {
    padding-left: initial;
    text-align: center;
    max-width: 85%;
  }
}

.nlw-div > .edit-user-name-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin: auto;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  /*
        Kung ang view is mobile
    */
}

.nlw-div > .edit-user-name-btn:active {
  -webkit-transition: -webkit-box-shadow 0.1s ease-in;
  transition: -webkit-box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in, -webkit-box-shadow 0.1s ease-in;
  -webkit-box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .nlw-div > .edit-user-name-btn {
    width: auto;
  }
}

.edit-user-name-btn > .edit-user-icon {
  font-size: 20px;
}

.edit-user-name-btn > .edit-user-label {
  font-size: 15px;
  font-weight: bold;
}

.account-content > .information-tab-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 40px 0 25px;
  padding: 8px 5px;
  width: 66.5%;
  height: auto;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .account-content > .information-tab-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    width: 100%;
  }
}

.information-tab-wrapper > .space {
  display: block;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .information-tab-wrapper > .space {
    margin: 7.5px 0;
    width: 85% !important;
    background-color: #22252F;
    border-radius: 1em;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.2);
  }
}

.space > .space-title {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  color: #eeeeee;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #494949;
  /*
        Kung ang view is mobile
    */
}

.space > .space-title.info-title {
  /*
        Kung ang view is mobile
    */
}

.space > .space-title.activity-title {
  /*
        Kung ang view is mobile
    */
}

.space > .space-title:hover::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 360px;
  background-color: rgba(204, 198, 255, 0.2);
  -webkit-animation: ripple 0.4s ease-in;
          animation: ripple 0.4s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .space > .space-title {
    border-bottom: initial;
  }
}

.information-tab-wrapper > .info {
  width: 40%;
}

.info > .info-table {
  display: block;
  margin: 15px 0;
  padding: 5px;
  width: 100%;
  max-height: calc(55px * 5);
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  background-color: #22252F;
  border-radius: 0.8em;
  -webkit-box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.2);
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .info > .info-table {
    margin: initial;
    padding: 10px 0;
    border-radius: initial;
    -webkit-box-shadow: initial;
            box-shadow: initial;
  }
}

.info-table > .info-table-row {
  display: block;
  margin: 5px 0;
  width: 100%;
  min-height: 45px;
  scroll-snap-align: center;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .info-table > .info-table-row {
    padding: 0 5px;
  }
}

.info-table-row > .row-title {
  display: block;
  width: 100%;
  padding: 0 4px;
}

.info-table-row > .row-title > * {
  font-size: 14px;
  font-weight: bolder;
  color: #927e26;
}

.info-table-row > .row-data-group {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 15px;
}

.row-data-group > .value {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  font-size: 14px;
  color: #eeeeee;
}

.row-data-group > .edit-info-btn {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #eeeeee;
  background-color: #8c98ff;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.2);
}

.row-data-group > .edit-info-btn:active {
  -webkit-box-shadow: 0px 6px 4px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 4px -2px rgba(0, 0, 0, 0.2);
}

.information-tab-wrapper > .activities {
  width: 60%;
}

.activities > .table-wrapper {
  display: block;
  margin: 15px 0;
  padding: 0 10px;
  width: 100%;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .activities > .table-wrapper {
    margin: initial;
    padding: initial;
  }
}

.table-wrapper > .table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 45px;
}

.table-header > .table-header-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  color: #eeeeee;
}

.table-header > .table-header-cell.date-time {
  width: 30%;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .table-header > .table-header-cell.date-time {
    width: 40%;
  }
}

.table-header > .table-header-cell.description {
  width: 70%;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .table-header > .table-header-cell.description {
    width: 60%;
  }
}

.table-wrapper > .table-list {
  display: block;
  width: 100%;
  max-height: calc(45px * 8);
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: auto;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .table-wrapper > .table-list {
    max-height: calc(45px * 5);
  }
}

.table-list > .activity-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(45px * 4);
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .table-list > .activity-empty {
    height: calc(45px * 5);
  }
}

.activity-empty > .empty-activity-icon {
  margin: 10px 0;
  font-size: 35px;
  color: #e89dff;
}

.activity-empty > .empty-activity-label {
  margin: 10px 0;
  font-size: 16px;
  color: #e89dff;
}

.table-list > .table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 100%;
}

.table-row > .table-row-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  color: #927e26;
  font-size: 15px;
}

.table-row > .date-time-value {
  width: 30%;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.table-row > .description-value {
  padding-right: 45px;
  width: 70%;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.table-row > .delete-activity {
  display: block;
  position: absolute;
  top: calc(25px - 17.5px);
  right: 10px;
  width: 35px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 360px;
  color: #8f8f8f;
  background-color: inherit;
  overflow: hidden;
}

.table-row > .delete-activity:hover::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: ripple 0.15s ease-in-out;
          animation: ripple 0.15s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  border-radius: 360px;
  background-color: rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=account.css.map */