/*
    html ug body tag configuration file!!!!!
    AYAW E MODIFY!!!!!!!!!
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  font-family: 'Quicksand', sans-serif;
  color: #0e0d0d;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
    View Modes
    AYAW E MODIFY!!!!!!

*/
html {
  overflow: hidden;
  background-color: #ffffff;
  scrollbar-width: none;
}

html ::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 1366px;
  min-height: 768px;
  background-color: inherit;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  body {
    min-width: 280px;
    min-height: 568px;
  }
}

/*
    View Modes
    AYAW E MODIFY!!!!!!

*/
@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
  }
  15%, 25% {
    padding-top: 25%;
    width: 25%;
  }
  25%, 50% {
    padding-top: 50%;
    width: 50%;
  }
  50%, 75% {
    padding-top: 75%;
    width: 75%;
  }
  75%, 100% {
    padding-top: 150%;
    width: 150%;
  }
}
@keyframes ripple {
  0% {
    width: 0;
    height: 0;
  }
  15%, 25% {
    padding-top: 25%;
    width: 25%;
  }
  25%, 50% {
    padding-top: 50%;
    width: 50%;
  }
  50%, 75% {
    padding-top: 75%;
    width: 75%;
  }
  75%, 100% {
    padding-top: 150%;
    width: 150%;
  }
}

button, .custom-file-input {
  position: relative;
  overflow: hidden;
}

button:active::after, .custom-file-input:active::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: ripple 0.2s ease-in;
          animation: ripple 0.2s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  background-color: rgba(214, 250, 244, 0.2);
  border-radius: 360px;
}

.management-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #15191C;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .management-content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.management-content-wrapper > .center-panel {
  display: block;
  width: 60%;
  height: 100%;
  overflow: auto;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .management-content-wrapper > .center-panel {
    width: 100%;
  }
}

.center-panel > .search-panel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .center-panel > .search-panel-wrapper {
    height: 15%;
  }
}

.search-panel-wrapper > .search-panel {
  display: block;
  position: relative;
  padding: 10px 5px;
  width: 80%;
  height: auto;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .search-panel-wrapper > .search-panel {
    width: calc(85% + 10px);
  }
}

.search-panel > .search-input {
  display: block;
  padding: 0 50px 0 5px;
  width: 100%;
  height: 45px;
  font-size: 15px;
  color: #d8d8d8;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #22252F;
  -webkit-box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.search-panel > .search-input:focus {
  border: 2px solid #8179f8;
}

.search-panel > .search-result {
  display: block;
  position: absolute;
  width: calc(100% - 10px);
  max-height: calc(45px * 5);
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  background-color: #e7e7e7;
  border-radius: 4px;
}

.search-result > .search-result-item {
  display: block;
  scroll-snap-align: start;
}

.search-panel > .search-btn {
  display: block;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 45px;
  height: 45px;
  outline: none;
  border: none;
  color: #a3a3a3;
  background-color: transparent;
}

.center-panel > .control-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: calc(80% - 0px);
  height: 60px;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .center-panel > .control-button-group {
    width: calc(85% + 10px);
  }
}

.control-button-group > .add-new-car-btn {
  display: block;
  margin: 0 5px;
  width: 115px;
  height: 60%;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #7566ff;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  /*
        Kung ang view is mobile
    */
}

.control-button-group > .add-new-car-btn:active {
  -webkit-box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .control-button-group > .add-new-car-btn {
    height: 35px;
  }
}

.add-new-car-btn > .add-btn-icon {
  color: #e7e7e7;
}

.add-new-car-btn > .add-btn-label {
  color: #e7e7e7;
  font-weight: bolder;
}

.center-panel > .car-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: auto;
  width: 80%;
  overflow: auto;
  scroll-behavior: smooth;
  background-attachment: fixed;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .center-panel > .car-list-wrapper {
    -webkit-box-align: initials;
        -ms-flex-align: initials;
            align-items: initials;
    width: calc(85% + 10px);
  }
}

.car-list-wrapper > .empty-car-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.empty-car-list > .empty-car-icon {
  margin: 10px 0;
  font-size: 35px;
  color: #7566ff;
}

.empty-car-list > .empty-car-label {
  margin: 10px 0;
  font-size: 16px;
  color: #7566ff;
}

.car-list-wrapper > .car-info-wrapper {
  display: block;
  position: relative;
  margin: 5px;
  padding-top: calc(calc(100% - 20px) / 2);
  width: calc(calc(100% - 20px) / 2);
  background-color: #22252F;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .car-list-wrapper > .car-info-wrapper {
    margin: 15px auto;
    padding-top: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 2em;
  }
}

.car-info-wrapper > .car-info-content {
  display: block;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  padding: initial;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.car-info-content > .car-brand-model-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -ms-flex-direction: initial;
      flex-direction: initial;
  width: 100%;
  height: 15%;
  z-index: 1;
}

.car-brand-model-group > .label-info-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  background-color: initial;
}

.label-info-group > .label-icon-group {
  display: none;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .label-info-group > .label-icon-group {
    display: none;
  }
}

.label-info-group > .info-value {
  padding: 0 15px;
  width: 100%;
  max-height: 100px;
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
}

.label-info-group > .car-model {
  font-size: 16px;
  font-weight: bold;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .label-info-group > .car-model {
    font-size: 20px;
    margin: initial;
  }
}

.label-info-group > .car-brand {
  font-size: 16px;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .label-info-group > .car-brand {
    font-size: 16px;
    margin: initial;
  }
}

.car-info-content > .plate-num-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 18%;
  left: 50%;
  -webkit-transform: translate(-50%, -18%);
          transform: translate(-50%, -18%);
  z-index: 1;
  width: 80%;
}

.plate-num-group > .plate-num-ripple {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  overflow: hidden;
}

.plate-num-group > .plate-num-ripple::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: ripple 0.8s ease-in-out;
          animation: ripple 0.8s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 360px;
  background-color: rgba(0, 0, 0, 0.2);
}

.plate-num-group > .plate-num-ripple::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 360px;
  background-color: #2b2323;
  margin: 0;
}

.plate-num-group > .plate-num-value {
  margin: 0 5px;
  width: calc(100% - 25px);
  font-size: 15px;
  font-weight: bold;
  text-overflow: ellipsis;
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
}

.car-info-content > .car-featured-photo {
  display: block;
  position: absolute;
  inset: 0;
  padding-top: initial;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-color: #ffffff;
}

.car-info-content > .event-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  z-index: 1;
}

.event-button-group > .control-btn {
  display: block;
  width: 50%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.event-button-group > .update-car-info {
  border-radius: 0 2px 0 2px;
  background-color: #7566ff;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .event-button-group > .update-car-info {
    border-radius: 0 2em 0 0;
  }
}

.update-car-info > .btn-icon {
  margin: 0 2px;
  font-size: 15px;
  color: #eeeeee;
}

.update-car-info > .btn-label {
  margin: 0 2px;
  font-size: 15px;
  font-weight: bold;
  color: #eeeeee;
}

.event-button-group > .delete-car-info {
  background-color: transparent;
}

.event-button-group > .delete-car-info::after {
  all: unset;
}

.delete-car-info > .btn-icon {
  margin: 0 2px;
  font-size: 15px;
  color: #1b1818;
}

.delete-car-info > .btn-label {
  margin: 0 2px;
  font-size: 15px;
  font-weight: bold;
  color: #1b1818;
}

/******************** for car adder styling ********************/
.add-car-view-overlay {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  min-width: 1366px;
  min-height: 768px;
  z-index: 10000;
  background-color: rgba(22, 29, 23, 0.4);
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .add-car-view-overlay {
    min-width: 280px;
    min-height: 568px;
  }
}

.add-car-view-overlay > .add-car-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 75%;
  background-color: #22252F;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .add-car-view-overlay > .add-car-view {
    width: 100%;
    height: 100%;
    border-radius: initial;
  }
}

.add-car-view > .cancel-addition-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 8%;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .add-car-view > .cancel-addition-group {
    height: 56px;
    background-color: #15191C;
    -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.4);
  }
}

.cancel-addition-group > .cancel-btn {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 100%;
  font-size: 16px;
  color: #eeeeee;
  background-color: transparent;
  /*
        Kung ang view is mobile
    */
}

.cancel-addition-group > .cancel-btn > * {
  margin: 0 !important;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .cancel-addition-group > .cancel-btn {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}

.cancel-addition-group > .cancel-adition-title {
  display: block;
  width: 50%;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  color: #eeeeee;
}

.add-car-view > .labeled-input-group {
  display: block;
  margin: 2.5px 0;
  width: 85%;
}

.labeled-input-group > .input-label {
  display: block;
  margin: 3px 0;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  color: #eeeeee;
}

.labeled-input-group > .input-input {
  display: block;
  padding: 0 5px;
  width: 100%;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #15191C;
  color: #dbdbdb;
}

.labeled-input-group > .input-input:focus {
  border: 2px solid #5b5bff;
}

.labeled-input-group > .input-validator {
  display: block;
  width: 100%;
  font-size: 14px;
  text-overflow: ellipsis;
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  color: #ac4949;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.add-car-view > .attach-image-group {
  display: block;
  margin: 2.5px 0;
  width: 85%;
}

.attach-image-group > .custom-file-input {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 360px;
  background-color: transparent;
}

.attach-image-group > .image-validator {
  display: block;
  width: 100%;
  font-size: 14px;
  text-overflow: ellipsis;
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  color: #ac4949;
}

.custom-file-input > .add-image-icon {
  font-size: 15px;
  color: #eeeeee;
}

.custom-file-input > .add-image-label {
  display: none;
  font-size: 14px;
  font-weight: bold;
  color: #eeeeee;
}

.add-car-view > .btn-add {
  display: block;
  margin: 2.5px 0;
  width: 85%;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #489132;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.add-car-view > .btn-add:active {
  -webkit-box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.3);
}

.btn-add > .btn-add-icon {
  font-size: 16px;
  color: #eeeeee;
}

.btn-add > .btn-add-label {
  font-size: 14px;
  font-weight: bold;
  color: #eeeeee;
}

/******************** for qr viewer styling ********************/
.qr-view-overlay {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  min-width: 1366px;
  min-height: 768px;
  z-index: 10000;
  background-color: rgba(22, 29, 23, 0.4);
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .qr-view-overlay {
    min-width: 280px;
    min-height: 568px;
  }
}

.qr-view-overlay > .qr-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 75%;
  background-color: #22252F;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .qr-view-overlay > .qr-view {
    width: 100%;
    height: 100%;
    border-radius: initial;
  }
}

.qr-view > .qr-close-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 8%;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .qr-view > .qr-close-group {
    height: 56px;
    background-color: #15191C;
    -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.4);
  }
}

.qr-close-group > .close-qr-btn {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 100%;
  font-size: 16px;
  color: #eeeeee;
  background-color: transparent;
  /*
        Kung ang view is mobile
    */
}

.qr-close-group > .close-qr-btn > * {
  margin: 0 !important;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .qr-close-group > .close-qr-btn {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}

.qr-close-group > .qr-view-title {
  display: block;
  width: 50%;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  color: #eeeeee;
}

.qr-view > .qr-code-wrapper {
  display: block;
  margin: 5px 0;
  position: relative;
  padding-top: 45%;
  width: 45%;
  background-color: #eeeeee;
  -webkit-box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2);
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .qr-view > .qr-code-wrapper {
    padding-top: 55%;
    width: 55%;
  }
}

.qr-code-wrapper > .qr-code-graphics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.qr-view > .qr-code-label {
  margin: 5px 0;
  max-width: 85%;
  font-size: 20px;
  text-overflow: ellipsis;
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  color: #eeeeee;
}

/******************** for updater viewer styling ********************/
.updater-overlay {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  min-width: 1366px;
  min-height: 768px;
  z-index: 10000;
  background-color: rgba(22, 29, 23, 0.4);
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .updater-overlay {
    min-width: 280px;
    min-height: 568px;
  }
}

.updater-overlay > .update-car-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 75%;
  background-color: #22252F;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .updater-overlay > .update-car-view {
    width: 100%;
    height: 100%;
    border-radius: initial;
  }
}

.update-car-view > .cancel-update-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 8%;
  /*
        Kung ang view is mobile
    */
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .update-car-view > .cancel-update-group {
    height: 56px;
    background-color: #15191C;
    -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.4);
  }
}

.cancel-update-group > .cancel-btn {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 100%;
  font-size: 16px;
  color: #eeeeee;
  background-color: transparent;
  /*
        Kung ang view is mobile
    */
}

.cancel-update-group > .cancel-btn > * {
  margin: 0 !important;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .cancel-update-group > .cancel-btn {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}

.cancel-update-group > .cancel-update-title {
  display: block;
  width: 50%;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  color: #eeeeee;
}

.update-car-view > .labeled-input-group {
  display: block;
  margin: 2.5px 0;
  width: 85%;
}

.labeled-input-group > .input-label {
  display: block;
  margin: 3px 0;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  color: #eeeeee;
}

.labeled-input-group > .input-input {
  display: block;
  padding: 0 5px;
  width: 100%;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #15191C;
  color: #dbdbdb;
}

.labeled-input-group > .input-input:focus {
  border: 2px solid #5b5bff;
}

.labeled-input-group > .input-validator {
  display: block;
  width: 100%;
  font-size: 14px;
  text-overflow: ellipsis;
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  color: #ac4949;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.update-car-view > .attach-image-group {
  display: block;
  margin: 2.5px 0;
  width: 85%;
}

.attach-image-group > .custom-file-input {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 360px;
  background-color: transparent;
}

.attach-image-group > .image-validator {
  display: block;
  width: 100%;
  font-size: 14px;
  text-overflow: ellipsis;
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  color: #ac4949;
}

.custom-file-input > .add-image-icon {
  font-size: 15px;
  color: #eeeeee;
}

.custom-file-input > .add-image-label {
  display: none;
  font-size: 14px;
  font-weight: bold;
  color: #eeeeee;
}

.update-car-view > .btn-update {
  display: block;
  margin: 2.5px 0;
  width: 85%;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #489132;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.update-car-view > .btn-update:active {
  -webkit-box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.3);
}

.btn-update > .btn-update-icon {
  font-size: 16px;
  color: #eeeeee;
}

.btn-update > .btn-update-label {
  font-size: 14px;
  font-weight: bold;
  color: #eeeeee;
}
/*# sourceMappingURL=management.css.map */