
@import '../../css_config/config';
@import '../../css_config/views';


// colors
$primary   : #15191C;
$secondary : #22252F;
$tertiary  : #15091a;

// search input
$search-input-fg : #d8d8d8;
$search-active-border : #8179f8;
$search-btn-fg : #a3a3a3;

// search result
$search-result-bg : #e7e7e7;

// add car btn
$add-car-btn-bg : #7566ff;


$ripple-bg : rgba(214, 250, 244, 0.2);

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
    }
    15% , 25%{
        padding-top: 25%;
        width: 25%;
    }

    25% , 50% {
        padding-top: 50%;
        width: 50%;
    }
    50% , 75% {
        padding-top: 75%;
        width: 75%;
    }
    75% , 100%  {
        padding-top: 150%;
        width: 150%;
    }
}

 button {
    position: relative;
    overflow: hidden;
    &:active {
        &::after {
            content: ' ';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation: ripple 0.2s ease-in;
            animation-fill-mode: forwards;
            background-color: $ripple-bg;
            border-radius: 360px;
        }
    }
 }


.management-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $primary;
    @include on_Medium_Dev {
        flex-direction: column;
    }
}


.management-content-wrapper > .center-panel {
    display: block;
    width: 60%;
    height: 100%;
    // background-color: $secondary;
    @include on_Medium_Dev {
        width: 100%;
    }
}

.center-panel > .search-panel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    // background-color: yellow;
    @include on_Medium_Dev {
        height: 15%;
    }
}


.search-panel-wrapper > .search-panel {
    display: block;
    position: relative;
    padding: 10px 5px;
    width: 80%;
    height: auto;
    // background-color: black;
    @include on_Medium_Dev {
        width: calc(85% + 10px);
    }
}

.search-panel > .search-input {
    display: block;
    padding: 0 50px 0 5px;
    width: 100%;
    height: 45px;
    font-size: 15px;
    color: $search-input-fg;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: $secondary;
    box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.2);
    &:focus {
        border: 2px solid $search-active-border;
    }
}

.search-panel > .search-result {
    display: block;
    position: absolute;
    width: calc(100% - 10px);
    max-height: calc(45px * 5);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    background-color: $search-result-bg;
    border-radius: 4px;
}

.search-result >.search-result-item {
    display: block;
    scroll-snap-align: start;
}


.search-panel > .search-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 45px;
    height: 45px;
    outline: none;
    border: none;
    color: $search-btn-fg;
    background-color: transparent;
}

.center-panel > .control-button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // justify-content: space-between;
    align-items: center;
    margin: auto;
    width: calc(80% - 0px);
    height: 10%;
    // background-color: yellow;
    @include on_Medium_Dev {
        width: calc(85% + 10px);
    }
}

.control-button-group > .add-new-car-btn {
    display: block;
    margin: 0 5px;
    width: 115px;
    height: 50%;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: $add-car-btn-bg ;
    box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
    font-size: 14px;
    &:active {
        box-shadow: 0px 8px 10px -4px rgba(0,0,0,0.3);
    }
    @include on_Medium_Dev {
        height: 35px;
    }
}

.add-new-car-btn > .add-btn-icon {
    color: #e7e7e7;
}

.add-new-car-btn > .add-btn-label {
    color: #e7e7e7;
    font-weight: bolder;
}

.center-panel > .car-list-wrapper {
    display: block;
    margin: auto;
    // width: calc(80% - 10px);  // revert
    width: 80%;
    // height: calc(100% - 30%); // revert
    height: calc(100% - 38%);
    background-color: blue;
    @include on_Medium_Dev {
        width: 85%;
        // height: calc(100% - 25%);
        height: calc(100% - 30%);
    }
}