
@import '../../css_config/config';
@import '../../css_config/views';


// colors
$primary   : #15191C;
$secondary : #22252F;


/** small tiles fg **/ 
$tile-icon-color: rgb(232, 157, 255);
$tile-label-color: #bebdbd;
$tile-data-color : #a7a400;

/** large tiles fg **/
$large-tile-label-color : #bebdbd;
$large-tile-icon-color : rgb(232, 157, 255);

/** chart 1 legend indicator bg **/
$chart-1-legend-1-bg : rgb(196, 2, 255);
$chart-1-legend-2-bg : #4CAF50;

/** empty online user **/
$empty-online-user-icon-fg : rgb(232, 157, 255);
$empty-online-user-label-fg : rgb(232, 157, 255);

/** online users **/
$online-user-name-avatar-bg : #eeeeee;
$online-user-name-abbr-fg : #130d0d;
$online-user-name-fg : #eeeeee;

/** online user usage label **/
$online-user-usage-label-fg : #eeeeee;

/** progress bar **/
$online-user-progress-bar-border-bg: $secondary;

/** online user percentage fg **/
$online-user-percentage-fg : #aaa2a2;

/** online user list separator **/
$separator-bg : #1d1d1d;

.dash-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    @include on_Medium_Dev {
    
        display: block;
        overflow-y: auto;
    }
}

// TODO: background must be reusable and changeable
.dash-content > .panel-1 {
    display: block;
    width: 80%;
    height: 100%;
    background-color: $primary;
    @include on_Medium_Dev {
        display: block;
        padding: 30px 0;
        padding-bottom: 0;
        width: 100%;
        height: auto;
        min-height: 100%;
    }
}

.panel-1 > .layout-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: green;
}

.layout-1 > .tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    // background-color: green;
    @include on_Medium_Dev {
        justify-content: center;
    }
}

.tile-container > .tile {
    display: block;
    margin: 10px 0;
    width: calc(85% / 4);
    height: 160px;
    background-color: $secondary;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 3px 8px -4px rgba($color: #000000, $alpha: 0.2);
    transition: box-shadow 0.2s ease-out;
    @include on_Medium_Dev {
        position: relative;
        margin: 10px;
        padding-top: 41%;
        width: 41%;
        // min-width: 40%;
        height: initial;
    }
}

.tile:hover {
    box-shadow: 0px 18px 16px -8px rgba($color: #000000, $alpha: 0.1);
    transition: box-shadow 0.2s ease-in;
}

.tile > .tile-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    @include on_Medium_Dev {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.tile-content > .inner-center-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 70%;
    // background-color: green;
    @include on_Medium_Dev {
        justify-content: space-evenly;
        width: 85%;
        height: 85%;
    }
}

.inner-center-wrapper > .tile-icon {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 30px;
    color: $tile-icon-color;
    @include on_Medium_Dev {
        font-size: 25px;
    }
}

.inner-center-wrapper > .tile-label {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: $tile-label-color;
    @include on_Medium_Dev {
        font-size: 14px;
    }
}

.inner-center-wrapper > .tile-data {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 20px;
    // font-weight: bolder;
    color: $tile-data-color;
    @include on_Medium_Dev {
        font-size: 18px;
    }
}

.layout-1 > .graph-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 500px;
    // background-color: yellow;
    @include on_Medium_Dev {
        flex-direction: column;
        height: auto;
    }
}

.graph-container > .large-tile-1 {
    display: block;
    width: 60%;
    height: 100%;
    overflow: hidden;
    border-radius: 1em;
    background-color: $secondary;
    box-shadow: 0px 3px 8px -4px rgba($color: #000000, $alpha: 0.2);
    @include on_Medium_Dev {
        position: relative;
        padding-top: 85%;
        margin: 10px 0;
        width: 85%;
        height: initial;
    }
}

.large-tile-1 > .lt-1-content {
    display: block;
    width: 100%;
    height: 100%;
    // background-color: yellow;
    @include on_Medium_Dev {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.lt-1-content > .option-bar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 0 25px;
    // background-color: green;
    @include on_Medium_Dev {
        justify-content: center;
        align-items: center;
        height: 50px;
    }
}

.option-bar > .chart-0-title {
    display: block;
    font-size: 25px;
    font-weight: bolder;
    color: $large-tile-label-color;
    @include on_Medium_Dev {
        font-size: 18px;
    }
}

.option-bar > .chart-0-desc {
    display: block;
    font-size: 16px;
    color: $large-tile-label-color;
    @include on_Medium_Dev {
        display: none;
    }
}

.lt-1-content > .graph-holder{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 100px);
    // background-color: yellow;
    @include on_Medium_Dev {
        height: calc(100% - 50px);
    }
}

.graph-holder > .chart-scaler-0 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80% !important;
    height: auto !important;
    @include on_Medium_Dev {
        width: 95% !important;
    }
}

.chart-scaler-0 > .chart-0-data {
    display: block;
}

.graph-container > .large-tile-2 {
    display: block;
    width: 30%;
    height: 100%;
    overflow: hidden;
    border-radius: 1em;
    background-color: $secondary;
    box-shadow: 0px 3px 8px -4px rgba($color: #000000, $alpha: 0.2);
    @include on_Medium_Dev {
        position: relative;
        padding-top: 85%;
        margin: 10px 0;
        width: 85%;
        height: initial;
    }
}



.large-tile-2 > .lt-2-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: green;
    @include on_Medium_Dev {
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.lt-2-content > .chart-1-title {
    display: block;
    margin: 15px 0;
    width: 70%;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: $large-tile-label-color;
    @include on_Medium_Dev {
        margin: 7.5px 0;
        font-size: 18px;
    }
}

.lt-2-content > .chart-1-data-holder {
    display: block;
    position: relative;
    margin: 15px 0;
    padding-top: 50%;
    width: 50%;
    // background-color: yellow;
    @include on_Medium_Dev {
        margin: 7.5px 0;
        padding-top: 60%;
        width: 60%;
    }
}

.chart-1-data-holder > .chart-1-icon-holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.chart-1-icon-holder > .chart-1-icon {
    display: block;
    font-size: 50px;
    color: $large-tile-icon-color;
}

.chart-1-data-holder > .chart-scaler-1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    // background-color: green;
}

.chart-scaler-1 > .chart-1-data {
    display: block;
}

.lt-2-content > .chart-1-legend {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
    width: 70%;
    @include on_Medium_Dev {
        margin: 7.5px 0;
    }
}

.chart-1-legend > .legend {
    &::before {
        content: ' ';
        display: inline-block;
        margin: auto 5px;
        width: 15px ;
        height: 15px;
        border-radius: 50%;
    }
    &.data-1::before {
        background-color: $chart-1-legend-1-bg;
    }
    &.data-2::before {
        background-color: $chart-1-legend-2-bg;
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: $large-tile-label-color;
}

.lt-2-content > .chart-1-desc {
    display: block;
    margin: 15px 0;
    padding: 0 10%;
    width: 100%;
    font-size: 16px;
    text-align: justify;
    color: $large-tile-label-color;
    @include on_Medium_Dev {
        display: none;
    }
 }

// TODO: background must be reusable and changeable
.dash-content > .panel-2 {
    display: block;
    width: 20%;
    height: 100%;
    background-color: $secondary;
    @include on_Medium_Dev {
        display: block;
        padding-bottom: 30px;
        width: 100%;
        height: auto;
        background-color: $primary;
    }
}

.panel-2 > .layout-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.layout-2 > .large-tile-3 {
    display: block;
    position: relative;
    padding-top: 90%;
    // margin: 10px 0;
    width: 90%;
    overflow: hidden;
    border-radius: 1em;
    background-color: $primary;
    box-shadow: 0px 3px 8px -4px rgba($color: #000000, $alpha: 0.2);
    @include on_Medium_Dev {
        padding-top: 85%;
        margin: 10px 0;
        width: 85%;
        background-color: $secondary;
    }
}

.large-tile-3 > .lt-3-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    // background-color: green;
}

.lt-3-content > .chart-2-title {
    display: block;
    font-size: 20px;
    font-weight: bolder;
    color: $large-tile-label-color;
    @include on_Medium_Dev {
        font-size: 18px;
    }
}

.lt-3-content > .stack-1 {
    display: block;
    position: relative;
    width: 80%;
    height: 80%;
    // background-color: green;
}

.stack-1 > .chart-2-numeric-data-holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    // background-color: black;
}

.stack-1 > .chart-2-data-holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    // background-color: green;
}

.chart-2-numeric-data-holder > .chart-2-numeric-data {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: $large-tile-label-color;
}

.chart-2-data-holder > .chart-scaler-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    // background-color: green;
    @include on_Medium_Dev {
        width: 75%;
        height: 75%;
    }
}

.chart-scaler > .chart-2-data {
    display: block;    
}

.layout-2 > .large-tile-4 {
    display: block;
    position: relative;
    width: 90%;
    height: initial; // js resized
    // margin: 10px 10px 10px 10px; 
    margin-bottom: 0;
    background-color: $primary;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 3px 8px -4px rgba($color: #000000, $alpha: 0.2);
    @include on_Medium_Dev {
        padding-top: 85%;
        margin: 10px 0;
        width: 85% !important;
        height: initial !important;
        border-radius: 1em;
        background-color: $secondary;
        box-shadow: 0px 3px 8px -4px rgba($color: #000000, $alpha: 0.2);
    }
}

.large-tile-4 > .lt-4-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    // background-color: green;
}

.lt-4-content > .lt-4-title-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40px;
    // background-color: yellow;
    @include on_Medium_Dev {
        height: 60px;
    }
}

.lt-4-title-container > .lt-4-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: $large-tile-label-color;
    // background-color: yellow;
    @include on_Medium_Dev {
        font-size: 18px;
    }
}


.lt-4-content > .lt-4-list-container {
    display: block;
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    // background-color: green;
    @include on_Medium_Dev {
        height: calc(100% - 70px);
    }
}

/*
    FIXME: watchout!!!!
    newly added style by Philipp
    might cause error 
*/

.lt-4-list-container > .empty-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: yellow;
}

.empty-online > .empty-list-icon {
    margin: 3px 0;
    font-size: 35px;
    color: $empty-online-user-icon-fg;
}

.empty-online > .empty-list-label {
    margin: 3px 0;
    font-size: 18px;
    color: $empty-online-user-label-fg;
}

.lt-4-list-container > .list-data {
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 7.5px 0;
    width: 100%;
    height: calc( calc(100% - 42.2px) / 3 );
    // min-height: 80px; // FIXME: maybe unstable
    scroll-snap-align: start;
    // background-color: white;
    @include on_Medium_Dev {
        width: 95%;
        margin: 7.5px auto;
        height: calc( calc(100% - 16.2px) / 2);
        // background-color: green;
    }
}
.list-data > .data-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    height: 100%;
    // background-color: green;
}

.data-wrapper > .lite-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 5px;
    width: 100%;
    // height: 35%;
    // background-color: yellow;    
}

// TODO: background must be reusable and changeable
.lite-info-container > .subs-avatar-round {
    display: block;
    position: relative;
    margin: 3px;
    padding-top: 18%;
    width: 18%;
    overflow: hidden;
    border-radius: 360px;
    background-color: $online-user-name-avatar-bg;
    box-shadow: 0px 3px 4px -2px rgba($color: #000000, $alpha: 0.2);
    @include on_Medium_Dev {
        background-color: $secondary;
    }
}

.subs-avatar-round > .subs-abbr-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.subs-abbr-wrapper > .subs-abbr {
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: $online-user-name-abbr-fg;
}

.lite-info-container > .subs-name {
    display: block;
    margin: 0 3px;
    font-size: 15px;
    font-weight: bold;
    color: $online-user-name-fg;
    @include on_Medium_Dev {
        font-size: 16px;
    }
}

.data-wrapper > .usage-info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    // background-color: yellow;
}

.usage-info-container > .usage-label {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 14px;
    // font-weight: bold;
    color: $online-user-usage-label-fg;
}

.usage-info-container > .progressbar {
    display: block;
    width: 100%;
    height: 25%;
    overflow: hidden;
    border-radius: 1em;
    border: 1px solid $online-user-progress-bar-border-bg;
}


.progressbar >.value {
   display: block;
    width: initial;
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    &.p-value-warning {
        background-color: rgb(201, 42, 42);
    }
}

.usage-info-container > .value-percentage {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: $online-user-percentage-fg;
}


.lt-4-list-container > .separator {
    display: block;
    outline: none;
    border: none;
    margin: auto;
    width: 85%;
    height: 0.3px !important;
    background-color: $separator-bg;
}

.text {
    background-color: rgb(203, 140, 255);
}