@import '../../../css_config/views';

// colors
$primary   : #15091a;

/** connection error overlay **/
$connection-error-wrapper-overlay-bg : rgba(22, 29, 23, 0.4);

/** connection error wrapper **/
$connection-error-border : #797979;
/** dc-message  **/
$dc-message-fg: #eeeeee;


.connection-error-wrapper-overlay {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    min-width: 1366px;
    min-height: 768px;
    background-color: $connection-error-wrapper-overlay-bg;
    z-index: 10004;
    @include on_Medium_Dev {
        min-width: 280px;
        min-height: 568px;
    }
}

.connection-error-wrapper-overlay > .connection-error-wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 350px;
    width: 350px;
    overflow: hidden;
    background-color: $primary;
    box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.2);
    border-radius: 4px;
    @include on_Medium_Dev {
        padding-top: 85%;
        width: 85%;
    }
}


.connection-error-wrapper > .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.content-wrapper > .dc-icon {
    display: block;
    margin: 8px;
    width: 20%;
}

.content-wrapper > .dc-message {
    margin: 8px;
    width: 90%;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: bold;
    color: $dc-message-fg;
    word-wrap: break-word;
    white-space: normal;
    max-height: 40%;
    user-select: none;
    @include on_Medium_Dev {
        font-size: 16px;
    }
}
